.video_item {
  margin:20px 0;
  margin: 20px 15px;
  border: dashed 2px #ddd;
  padding: 0 0;
  min-height: 270px;
  max-width: 555px;
  cursor: pointer;
}

.btn {
  width: 90%;
  margin: auto;
}

.creator {

}

#creator {
  display: block;
  margin: auto;
  margin-top: 20%;
}

#delete_video {
  display: block;
  margin: auto;
  margin-top: 20px;
}
